Screen {
    layout: grid;
    grid-size: 2 2;
    background: #1a1a22;
}

ModalScreen {
    align: center middle;
    background: #1a1a22 50%;
}

.box {
    height: 100%;
    border: solid green;
}

#output-box {
    row-span: 2;
}

#commit-box {
    border-title-align: left;
}
